<a href="https://colab.research.google.com/github/ali7996/ali7996.github.ioh/blob/main/Linear%20regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import pandas as pd
import sklearn.metrics
import sklearn.model_selection
from sklearn.linear_model import LinearRegression
df = pd.read_csv(r"Data.csv")
df.head()

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19,16,1849,11,6.62,0.34,48,20,2.47,1.03,2016
1,Spain,La Liga,(BAR),Antoine Griezmann,36,0,3129,16,11.86,0.36,88,41,2.67,1.24,2016
2,Spain,La Liga,(ATL),Luis Suarez,34,1,2940,28,23.21,0.75,120,57,3.88,1.84,2016
3,Spain,La Liga,(CAR),Ruben Castro,32,3,2842,13,14.06,0.47,117,42,3.91,1.40,2016
4,Spain,La Liga,(VAL),Kevin Gameiro,21,10,1745,13,10.65,0.58,50,23,2.72,1.25,2016

TEST AND SPLIT

In [31]:
x=df.drop(['Country','League','Player Names','Club','Goals'],axis=1)
y=df["Goals"]
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(x, y, test_size=0.33, random_state=42)

Training the model

In [32]:
model =sklearn.linear_model.LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

Testing the model

In [37]:
y_predict=model.predict(x_test)
MSE=sklearn.metrics.mean_squared_error(y_test,y_predict)
MSE

5.650618727977347